<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.computerdesign.whutHouseMgmt.dao.staffparam.StaffParameterMapper">
  <resultMap id="BaseResultMap" type="com.computerdesign.whutHouseMgmt.bean.staffparam.StaffParameter">
    <id column="StaffParamId" jdbcType="INTEGER" property="staffParamId" />
    <result column="StaffParamName" jdbcType="VARCHAR" property="staffParamName" />
    <result column="ParamTypeId" jdbcType="INTEGER" property="paramTypeId" />
    <result column="ParamTypeName" jdbcType="VARCHAR" property="paramTypeName" />
    <result column="StaffParamFra" jdbcType="INTEGER" property="staffParamFra" />
    <result column="StaffParamSpouseFra" jdbcType="INTEGER" property="staffParamSpouseFra" />
    <result column="StaffParamHouseArea" jdbcType="REAL" property="staffParamHouseArea" />
    <result column="IsDelete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    StaffParamId, StaffParamName, ParamTypeId, ParamTypeName, StaffParamFra, StaffParamSpouseFra, 
    StaffParamHouseArea, IsDelete
  </sql>
  <select id="selectByExample" parameterType="com.computerdesign.whutHouseMgmt.bean.staffparam.StaffParameterExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pm_stafftype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pm_stafftype
    where StaffParamId = #{staffParamId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pm_stafftype
    where StaffParamId = #{staffParamId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.computerdesign.whutHouseMgmt.bean.staffparam.StaffParameterExample">
    delete from pm_stafftype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.computerdesign.whutHouseMgmt.bean.staffparam.StaffParameter">
    insert into pm_stafftype (StaffParamId, StaffParamName, ParamTypeId, 
      ParamTypeName, StaffParamFra, StaffParamSpouseFra, 
      StaffParamHouseArea, IsDelete)
    values (#{staffParamId,jdbcType=INTEGER}, #{staffParamName,jdbcType=VARCHAR}, #{paramTypeId,jdbcType=INTEGER}, 
      #{paramTypeName,jdbcType=VARCHAR}, #{staffParamFra,jdbcType=INTEGER}, #{staffParamSpouseFra,jdbcType=INTEGER}, 
      #{staffParamHouseArea,jdbcType=REAL}, #{isDelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.computerdesign.whutHouseMgmt.bean.staffparam.StaffParameter">
    insert into pm_stafftype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffParamId != null">
        StaffParamId,
      </if>
      <if test="staffParamName != null">
        StaffParamName,
      </if>
      <if test="paramTypeId != null">
        ParamTypeId,
      </if>
      <if test="paramTypeName != null">
        ParamTypeName,
      </if>
      <if test="staffParamFra != null">
        StaffParamFra,
      </if>
      <if test="staffParamSpouseFra != null">
        StaffParamSpouseFra,
      </if>
      <if test="staffParamHouseArea != null">
        StaffParamHouseArea,
      </if>
      <if test="isDelete != null">
        IsDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffParamId != null">
        #{staffParamId,jdbcType=INTEGER},
      </if>
      <if test="staffParamName != null">
        #{staffParamName,jdbcType=VARCHAR},
      </if>
      <if test="paramTypeId != null">
        #{paramTypeId,jdbcType=INTEGER},
      </if>
      <if test="paramTypeName != null">
        #{paramTypeName,jdbcType=VARCHAR},
      </if>
      <if test="staffParamFra != null">
        #{staffParamFra,jdbcType=INTEGER},
      </if>
      <if test="staffParamSpouseFra != null">
        #{staffParamSpouseFra,jdbcType=INTEGER},
      </if>
      <if test="staffParamHouseArea != null">
        #{staffParamHouseArea,jdbcType=REAL},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.computerdesign.whutHouseMgmt.bean.staffparam.StaffParameterExample" resultType="java.lang.Long">
    select count(*) from pm_stafftype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pm_stafftype
    <set>
      <if test="record.staffParamId != null">
        StaffParamId = #{record.staffParamId,jdbcType=INTEGER},
      </if>
      <if test="record.staffParamName != null">
        StaffParamName = #{record.staffParamName,jdbcType=VARCHAR},
      </if>
      <if test="record.paramTypeId != null">
        ParamTypeId = #{record.paramTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.paramTypeName != null">
        ParamTypeName = #{record.paramTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.staffParamFra != null">
        StaffParamFra = #{record.staffParamFra,jdbcType=INTEGER},
      </if>
      <if test="record.staffParamSpouseFra != null">
        StaffParamSpouseFra = #{record.staffParamSpouseFra,jdbcType=INTEGER},
      </if>
      <if test="record.staffParamHouseArea != null">
        StaffParamHouseArea = #{record.staffParamHouseArea,jdbcType=REAL},
      </if>
      <if test="record.isDelete != null">
        IsDelete = #{record.isDelete,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pm_stafftype
    set StaffParamId = #{record.staffParamId,jdbcType=INTEGER},
      StaffParamName = #{record.staffParamName,jdbcType=VARCHAR},
      ParamTypeId = #{record.paramTypeId,jdbcType=INTEGER},
      ParamTypeName = #{record.paramTypeName,jdbcType=VARCHAR},
      StaffParamFra = #{record.staffParamFra,jdbcType=INTEGER},
      StaffParamSpouseFra = #{record.staffParamSpouseFra,jdbcType=INTEGER},
      StaffParamHouseArea = #{record.staffParamHouseArea,jdbcType=REAL},
      IsDelete = #{record.isDelete,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.computerdesign.whutHouseMgmt.bean.staffparam.StaffParameter">
    update pm_stafftype
    <set>
      <if test="staffParamName != null">
        StaffParamName = #{staffParamName,jdbcType=VARCHAR},
      </if>
      <if test="paramTypeId != null">
        ParamTypeId = #{paramTypeId,jdbcType=INTEGER},
      </if>
      <if test="paramTypeName != null">
        ParamTypeName = #{paramTypeName,jdbcType=VARCHAR},
      </if>
      <if test="staffParamFra != null">
        StaffParamFra = #{staffParamFra,jdbcType=INTEGER},
      </if>
      <if test="staffParamSpouseFra != null">
        StaffParamSpouseFra = #{staffParamSpouseFra,jdbcType=INTEGER},
      </if>
      <if test="staffParamHouseArea != null">
        StaffParamHouseArea = #{staffParamHouseArea,jdbcType=REAL},
      </if>
      <if test="isDelete != null">
        IsDelete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where StaffParamId = #{staffParamId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.computerdesign.whutHouseMgmt.bean.staffparam.StaffParameter">
    update pm_stafftype
    set StaffParamName = #{staffParamName,jdbcType=VARCHAR},
      ParamTypeId = #{paramTypeId,jdbcType=INTEGER},
      ParamTypeName = #{paramTypeName,jdbcType=VARCHAR},
      StaffParamFra = #{staffParamFra,jdbcType=INTEGER},
      StaffParamSpouseFra = #{staffParamSpouseFra,jdbcType=INTEGER},
      StaffParamHouseArea = #{staffParamHouseArea,jdbcType=REAL},
      IsDelete = #{isDelete,jdbcType=BIT}
    where StaffParamId = #{staffParamId,jdbcType=INTEGER}
  </update>
</mapper>