// 边框效果
.card_noboder {
  margin: 10px;
  padding: 10px;
}

._card {
  margin: 10px;
  padding: 15px; //   border: 1px solid #e6ebf5;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  .title {
    // padding: 0px 10px 0 10px;
    position: relative;
    width: 100%;
    text-align: left;
    &::after {
      content: "";
      width: 98%;
      height: 2px;
      background-color: #dcdcdc;
      position: absolute;
      bottom: -10px;
      z-index: 1;
      left: 1%;
      right: 1%;
    }
  }
}

// 维修详情页面
.fix-detail {
  .zan-field__title {
    font-size: 16px;
    font-weight: 600;
  }
      .zan-field__input {
        text-align: center;
      }
}
