<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.computerdesign.whutHouseMgmt.dao.houseregister.OutSchoolHouseVwMapper">
  <resultMap id="BaseResultMap" type="com.computerdesign.whutHouseMgmt.bean.houseregister.OutSchoolHouseVw">
    <result column="Id" jdbcType="INTEGER" property="id" />
    <result column="StaffId" jdbcType="INTEGER" property="staffId" />
    <result column="StaffName" jdbcType="VARCHAR" property="staffName" />
    <result column="HouseRel" jdbcType="INTEGER" property="houseRel" />
    <result column="HouseRelName" jdbcType="VARCHAR" property="houseRelName" />
    <result column="Address" jdbcType="VARCHAR" property="address" />
    <result column="BookTime" jdbcType="TIMESTAMP" property="bookTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, StaffId, StaffName, HouseRel, HouseRelName, Address, BookTime
  </sql>
  <select id="selectByExample" parameterType="com.computerdesign.whutHouseMgmt.bean.houseregister.OutSchoolHouseVwExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from view_hs_outschoolhouse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.computerdesign.whutHouseMgmt.bean.houseregister.OutSchoolHouseVwExample">
    delete from view_hs_outschoolhouse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.computerdesign.whutHouseMgmt.bean.houseregister.OutSchoolHouseVw">
    insert into view_hs_outschoolhouse (Id, StaffId, StaffName, 
      HouseRel, HouseRelName, Address, 
      BookTime)
    values (#{id,jdbcType=INTEGER}, #{staffId,jdbcType=INTEGER}, #{staffName,jdbcType=VARCHAR}, 
      #{houseRel,jdbcType=INTEGER}, #{houseRelName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{bookTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.computerdesign.whutHouseMgmt.bean.houseregister.OutSchoolHouseVw">
    insert into view_hs_outschoolhouse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="staffId != null">
        StaffId,
      </if>
      <if test="staffName != null">
        StaffName,
      </if>
      <if test="houseRel != null">
        HouseRel,
      </if>
      <if test="houseRelName != null">
        HouseRelName,
      </if>
      <if test="address != null">
        Address,
      </if>
      <if test="bookTime != null">
        BookTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="staffName != null">
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="houseRel != null">
        #{houseRel,jdbcType=INTEGER},
      </if>
      <if test="houseRelName != null">
        #{houseRelName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="bookTime != null">
        #{bookTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.computerdesign.whutHouseMgmt.bean.houseregister.OutSchoolHouseVwExample" resultType="java.lang.Long">
    select count(*) from view_hs_outschoolhouse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update view_hs_outschoolhouse
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.staffId != null">
        StaffId = #{record.staffId,jdbcType=INTEGER},
      </if>
      <if test="record.staffName != null">
        StaffName = #{record.staffName,jdbcType=VARCHAR},
      </if>
      <if test="record.houseRel != null">
        HouseRel = #{record.houseRel,jdbcType=INTEGER},
      </if>
      <if test="record.houseRelName != null">
        HouseRelName = #{record.houseRelName,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        Address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.bookTime != null">
        BookTime = #{record.bookTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update view_hs_outschoolhouse
    set Id = #{record.id,jdbcType=INTEGER},
      StaffId = #{record.staffId,jdbcType=INTEGER},
      StaffName = #{record.staffName,jdbcType=VARCHAR},
      HouseRel = #{record.houseRel,jdbcType=INTEGER},
      HouseRelName = #{record.houseRelName,jdbcType=VARCHAR},
      Address = #{record.address,jdbcType=VARCHAR},
      BookTime = #{record.bookTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>