build/*.js
config/*.js
src/views/*.vue
src/assets/icons/*js
src/store/*.js

src/components/sysManage/paramSet/*.vue
src/components/sysManage/paramSet/houseParam/*.vue 
src/components/sysManage/paramSet/staffParam/*.vue