build/*.js
config/*.js
src/views/*.vue
src/views/login/*.vue
src/assets/icons/*js
src/store/*.js
src/store/modules/*.js
src/router/*js
src/utils/*.js
src/api/*.js
src/assets/function/*.js
src/assets/data/*.js
src/mock/*.js
src/*.js
src/filters/*.js
src/*/*.js

src/components/sysManage/paramSet/*.vue
src/components/sysManage/paramSet/houseParam/*.vue 
src/components/sysManage/paramSet/staffParam/*.vue
src/components/sysManage/paramSet/rentParam/*.vue 
src/components/sysManage/paramSet/fixParam/*.vue  
src/components/sysManage/paramSet/rentalParam/*.vue  
src/components/basiceData/*.vue   
src/components/basiceData/buildingRegionData/*.vue   
src/components/basiceData/houseData/*.vue    
src/components/basiceData/staffData/*.vue    
src/components/basiceData/houseResident/*.vue    
src/components/basiceData/houseResident/components/*.vue    
src/components/fixManage/*.vue   
src/components/fixManage/components/*.vue   
