<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.computerdesign.whutHouseMgmt.dao.rentalparam.RentalParameterMapper">
  <resultMap id="BaseResultMap" type="com.computerdesign.whutHouseMgmt.bean.rentalparam.RentalParameter">
    <id column="RentalParamId" jdbcType="INTEGER" property="rentalParamId" />
    <result column="RentalTimeDiv" jdbcType="INTEGER" property="rentalTimeDiv" />
    <result column="RentalOldDct" jdbcType="VARCHAR" property="rentalOldDct" />
    <result column="RentalNewDctYear" jdbcType="INTEGER" property="rentalNewDctYear" />
    <result column="RentalNewDct" jdbcType="VARCHAR" property="rentalNewDct" />
    <result column="ParamTypeId" jdbcType="INTEGER" property="paramTypeId" />
    <result column="ParamTypeName" jdbcType="VARCHAR" property="paramTypeName" />
    <result column="IsDelete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RentalParamId, RentalTimeDiv, RentalOldDct, RentalNewDctYear, RentalNewDct, ParamTypeId, 
    ParamTypeName, IsDelete
  </sql>
  <select id="selectByExample" parameterType="com.computerdesign.whutHouseMgmt.bean.rentalparam.RentalParameterExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PM_RentalType
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PM_RentalType
    where RentalParamId = #{rentalParamId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from PM_RentalType
    where RentalParamId = #{rentalParamId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.computerdesign.whutHouseMgmt.bean.rentalparam.RentalParameterExample">
    delete from PM_RentalType
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.computerdesign.whutHouseMgmt.bean.rentalparam.RentalParameter">
    insert into PM_RentalType (RentalParamId, RentalTimeDiv, RentalOldDct, 
      RentalNewDctYear, RentalNewDct, ParamTypeId, 
      ParamTypeName, IsDelete)
    values (#{rentalParamId,jdbcType=INTEGER}, #{rentalTimeDiv,jdbcType=INTEGER}, #{rentalOldDct,jdbcType=VARCHAR}, 
      #{rentalNewDctYear,jdbcType=INTEGER}, #{rentalNewDct,jdbcType=VARCHAR}, #{paramTypeId,jdbcType=INTEGER}, 
      #{paramTypeName,jdbcType=VARCHAR}, #{isDelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.computerdesign.whutHouseMgmt.bean.rentalparam.RentalParameter">
    insert into PM_RentalType
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rentalParamId != null">
        RentalParamId,
      </if>
      <if test="rentalTimeDiv != null">
        RentalTimeDiv,
      </if>
      <if test="rentalOldDct != null">
        RentalOldDct,
      </if>
      <if test="rentalNewDctYear != null">
        RentalNewDctYear,
      </if>
      <if test="rentalNewDct != null">
        RentalNewDct,
      </if>
      <if test="paramTypeId != null">
        ParamTypeId,
      </if>
      <if test="paramTypeName != null">
        ParamTypeName,
      </if>
      <if test="isDelete != null">
        IsDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rentalParamId != null">
        #{rentalParamId,jdbcType=INTEGER},
      </if>
      <if test="rentalTimeDiv != null">
        #{rentalTimeDiv,jdbcType=INTEGER},
      </if>
      <if test="rentalOldDct != null">
        #{rentalOldDct,jdbcType=VARCHAR},
      </if>
      <if test="rentalNewDctYear != null">
        #{rentalNewDctYear,jdbcType=INTEGER},
      </if>
      <if test="rentalNewDct != null">
        #{rentalNewDct,jdbcType=VARCHAR},
      </if>
      <if test="paramTypeId != null">
        #{paramTypeId,jdbcType=INTEGER},
      </if>
      <if test="paramTypeName != null">
        #{paramTypeName,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.computerdesign.whutHouseMgmt.bean.rentalparam.RentalParameterExample" resultType="java.lang.Long">
    select count(*) from PM_RentalType
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PM_RentalType
    <set>
      <if test="record.rentalParamId != null">
        RentalParamId = #{record.rentalParamId,jdbcType=INTEGER},
      </if>
      <if test="record.rentalTimeDiv != null">
        RentalTimeDiv = #{record.rentalTimeDiv,jdbcType=INTEGER},
      </if>
      <if test="record.rentalOldDct != null">
        RentalOldDct = #{record.rentalOldDct,jdbcType=VARCHAR},
      </if>
      <if test="record.rentalNewDctYear != null">
        RentalNewDctYear = #{record.rentalNewDctYear,jdbcType=INTEGER},
      </if>
      <if test="record.rentalNewDct != null">
        RentalNewDct = #{record.rentalNewDct,jdbcType=VARCHAR},
      </if>
      <if test="record.paramTypeId != null">
        ParamTypeId = #{record.paramTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.paramTypeName != null">
        ParamTypeName = #{record.paramTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null">
        IsDelete = #{record.isDelete,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PM_RentalType
    set RentalParamId = #{record.rentalParamId,jdbcType=INTEGER},
      RentalTimeDiv = #{record.rentalTimeDiv,jdbcType=INTEGER},
      RentalOldDct = #{record.rentalOldDct,jdbcType=VARCHAR},
      RentalNewDctYear = #{record.rentalNewDctYear,jdbcType=INTEGER},
      RentalNewDct = #{record.rentalNewDct,jdbcType=VARCHAR},
      ParamTypeId = #{record.paramTypeId,jdbcType=INTEGER},
      ParamTypeName = #{record.paramTypeName,jdbcType=VARCHAR},
      IsDelete = #{record.isDelete,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.computerdesign.whutHouseMgmt.bean.rentalparam.RentalParameter">
    update PM_RentalType
    <set>
      <if test="rentalTimeDiv != null">
        RentalTimeDiv = #{rentalTimeDiv,jdbcType=INTEGER},
      </if>
      <if test="rentalOldDct != null">
        RentalOldDct = #{rentalOldDct,jdbcType=VARCHAR},
      </if>
      <if test="rentalNewDctYear != null">
        RentalNewDctYear = #{rentalNewDctYear,jdbcType=INTEGER},
      </if>
      <if test="rentalNewDct != null">
        RentalNewDct = #{rentalNewDct,jdbcType=VARCHAR},
      </if>
      <if test="paramTypeId != null">
        ParamTypeId = #{paramTypeId,jdbcType=INTEGER},
      </if>
      <if test="paramTypeName != null">
        ParamTypeName = #{paramTypeName,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        IsDelete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where RentalParamId = #{rentalParamId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.computerdesign.whutHouseMgmt.bean.rentalparam.RentalParameter">
    update PM_RentalType
    set RentalTimeDiv = #{rentalTimeDiv,jdbcType=INTEGER},
      RentalOldDct = #{rentalOldDct,jdbcType=VARCHAR},
      RentalNewDctYear = #{rentalNewDctYear,jdbcType=INTEGER},
      RentalNewDct = #{rentalNewDct,jdbcType=VARCHAR},
      ParamTypeId = #{paramTypeId,jdbcType=INTEGER},
      ParamTypeName = #{paramTypeName,jdbcType=VARCHAR},
      IsDelete = #{isDelete,jdbcType=BIT}
    where RentalParamId = #{rentalParamId,jdbcType=INTEGER}
  </update>
</mapper>