@import './element-ui';
@import './variables';
@import './layout.scss';
@import './sidebar.scss';

body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1.1vw;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

//用于面包屑样式
.warp-breadcrum {
  margin: 5px 10px 15px 0px;
}

//参数设置中面包屑下方内容
.warp-main {
  margin: 20px 20px 15px 0px;
  height: 100%
}

.el-input__inner {
  text-align: center
}

//参数设置页相关样式
.topic {
  height: 30px;

  h1 {
    text-align: center;
  }
}

.right-main {
  float: left;
  margin: 5px 20px 0 0px;
  padding: 5px 45px 15px 45px;
  width: 100%;
}

.query-table {
  .el-table__body-wrapper {
    overflow-x: hidden;
  }
}

// 边框效果
.card {
  margin: 10px;
  border: 1px solid #e6ebf5;
  background-color: $white;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all .2s ease-in-out;

  &:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    border-color: #eee;
  }
}

// 修改审核单中审核状态的的布局
.agree-col-width {
  width: 380px;
}

.agree-col-btn {
  float: right;
}

.agree-col-switch {
  margin-left: 12px;
}
