body {
  padding: 0px;
  margin: 0px auto;
}

a {
  text-decoration: none;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}

.body-containers {
  >aside {
    //Home.vue
    .el-menu-item,
    .el-submenu__title {
      color: #fff;
    }
    .el-menu .el-menu-item,
    .el-submenu .el-submenu__title {
      height: 46px;
      line-height: 46px;
    }
    .el-menu-item:hover,
    .el-submenu .el-menu-item:hover,
    .el-submenu__title:hover {
      background-color: #7ed2df;
    }
    .el-submenu .el-menu-item {
      background-color: #333744
    }
    .el-submenu .el-menu-item:hover {
      background-color: #4A5064;
      color: #fff;
    } //激活后的主菜单
    .el-menu--horizontal>.el-menu-item.is-active,
    .el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
      border-bottom: 2px solid #ffd04b;
      color: #fff;
    } //激活后子菜单
    .el-menu-item.is-active {
      color: #fff;
    }
    .el-menu .iconfont {
      vertical-align: baseline;
      margin-right: 6px;
    }
  }
} //用于面包屑样式
.warp-breadcrum {
  margin: 5px 10px 15px 0px;
} //参数设置中面包屑下方内容
.warp-main {
  margin: 20px 20px 15px 0px;
  height: 100%
}

.el-submenu .el-menu {
  background-color: #333744;
}

.el-input__inner {
  text-align: center
}

//参数设置页相关样式
.topic {
  height: 30px;
  h1 {
    text-align: center;
  }
}

.right-main {
  float: left; // border-radius: 5px;
  // border: 1px solid #eaeaea;
  // box-shadow: 0 0 25px #cac6c6;
  margin: 5px 20px 0 0px;
  padding: 5px 45px 15px 45px;
  width: 100%;
}

// 全局分页
.el-pagination {
  text-align: right;
}

//首页横向导航栏
.main-menu {
  .el-submenu .el-menu-item:hover {
    background-color: #4A5064;
    color: #fff;
  } //激活后的主菜单
  .el-menu--horizontal>.el-menu-item.is-active,
  .el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
    border-bottom: 2px solid #ffd04b;
    color: #fff;
  } //激活后子菜单
  .el-menu-item.is-active {
    color: #fff;
  }
  .el-submenu .el-menu-item {
    min-width: 0;
    text-align: center
  }
}

//第二层组件公共样式
.second-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  display: flex;
  >aside {
    $background-color: #373d41;
    flex: none;
    background-color: $background-color;
    &::-webkit-scrollbar {
      display: none;
    }
    &.showSidebar {
      overflow-x: hidden;
      overflow-y: auto;
    }
    >.asid-button {
      background: #4A5064;
      text-align: center;
      color: white;
      height: 30px;
      line-height: 30px;
      cursor: pointer;
    }
    >.el-menu {
      height: 100%;
      /*写给不支持calc()的浏览器*/
      height: -moz-calc(100% - 80px);
      height: -webkit-calc(100% - 80px);
      height: calc(100% - 80px);
      border-radius: 0px;
      background-color: $background-color;
      width: 180px;
    }
    >.el-menu--collapse {
      width: 60px;
    }
    .el-menu-item,
    .el-submenu__title {
      color: #fff;
    }
    .el-menu .el-menu-item,
    .el-submenu .el-submenu__title {
      height: 46px;
      line-height: 46px;
    }
    .el-menu-item:hover,
    .el-submenu .el-menu-item:hover,
    .el-submenu__title:hover {
      background-color: #7ed2df;
    }
    .el-submenu .el-menu-item {
      background-color: $background-color
    }
    .el-submenu .el-menu-item:hover {
      background-color: #4A5064;
      color: #fff;
    } 
    //激活后的主菜单
    .el-menu--horizontal>.el-menu-item.is-active,
    .el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
      border-bottom: 2px solid #ffd04b;
      color: #fff;
    } 
    //激活后子菜单
    .el-menu-item.is-active {
      color: #fff;
    }
    .el-menu .iconfont {
      vertical-align: baseline;
      margin-right: 6px;
    }
  }
  >.main-container {
    flex-grow: 1;
    padding: 10px;
    position: relative;
  }
}

// 第三层层组件公共样式
.third-container {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 15px;
  margin: auto;
  display: flex;
  flex-direction: column; // 面包屑
  >.warp-breadcrum {
    width: 100%;
    flex: none;
  } // 主内容
  >.warp-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    .toolbal {
      flex: none;
    }
    .main-data {
      width: 100%;
      flex: 1;
      overflow: auto;
      >.table {
        width: 100%;
        height: 100%
      }
    }
  }
}
