<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.computerdesign.whutHouseMgmt.dao.rentparam.RentEventMapper">
  <resultMap id="BaseResultMap" type="com.computerdesign.whutHouseMgmt.bean.rentparam.RentEvent">
    <id column="RentEventId" jdbcType="INTEGER" property="rentEventId" />
    <result column="ParamTypeId" jdbcType="INTEGER" property="paramTypeId" />
    <result column="ParamTypeName" jdbcType="VARCHAR" property="paramTypeName" />
    <result column="RentIsOpenSel" jdbcType="BIT" property="rentIsOpenSel" />
    <result column="RentTimeBegin" jdbcType="TIMESTAMP" property="rentTimeBegin" />
    <result column="RentTimeRanges" jdbcType="INTEGER" property="rentTimeRanges" />
    <result column="RentSelValReq" jdbcType="VARCHAR" property="rentSelValReq" />
    <result column="RentSelRules" jdbcType="VARCHAR" property="rentSelRules" />
    <result column="IsDelete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RentEventId, ParamTypeId, ParamTypeName, RentIsOpenSel, RentTimeBegin, RentTimeRanges, 
    RentSelValReq, RentSelRules, IsDelete
  </sql>
  <select id="selectByExample" parameterType="com.computerdesign.whutHouseMgmt.bean.rentparam.RentEventExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pm_rentevent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pm_rentevent
    where RentEventId = #{rentEventId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pm_rentevent
    where RentEventId = #{rentEventId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.computerdesign.whutHouseMgmt.bean.rentparam.RentEventExample">
    delete from pm_rentevent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.computerdesign.whutHouseMgmt.bean.rentparam.RentEvent">
    insert into pm_rentevent (RentEventId, ParamTypeId, ParamTypeName, 
      RentIsOpenSel, RentTimeBegin, RentTimeRanges, 
      RentSelValReq, RentSelRules, IsDelete
      )
    values (#{rentEventId,jdbcType=INTEGER}, #{paramTypeId,jdbcType=INTEGER}, #{paramTypeName,jdbcType=VARCHAR}, 
      #{rentIsOpenSel,jdbcType=BIT}, #{rentTimeBegin,jdbcType=TIMESTAMP}, #{rentTimeRanges,jdbcType=INTEGER}, 
      #{rentSelValReq,jdbcType=VARCHAR}, #{rentSelRules,jdbcType=VARCHAR}, #{isDelete,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.computerdesign.whutHouseMgmt.bean.rentparam.RentEvent">
    insert into pm_rentevent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rentEventId != null">
        RentEventId,
      </if>
      <if test="paramTypeId != null">
        ParamTypeId,
      </if>
      <if test="paramTypeName != null">
        ParamTypeName,
      </if>
      <if test="rentIsOpenSel != null">
        RentIsOpenSel,
      </if>
      <if test="rentTimeBegin != null">
        RentTimeBegin,
      </if>
      <if test="rentTimeRanges != null">
        RentTimeRanges,
      </if>
      <if test="rentSelValReq != null">
        RentSelValReq,
      </if>
      <if test="rentSelRules != null">
        RentSelRules,
      </if>
      <if test="isDelete != null">
        IsDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rentEventId != null">
        #{rentEventId,jdbcType=INTEGER},
      </if>
      <if test="paramTypeId != null">
        #{paramTypeId,jdbcType=INTEGER},
      </if>
      <if test="paramTypeName != null">
        #{paramTypeName,jdbcType=VARCHAR},
      </if>
      <if test="rentIsOpenSel != null">
        #{rentIsOpenSel,jdbcType=BIT},
      </if>
      <if test="rentTimeBegin != null">
        #{rentTimeBegin,jdbcType=TIMESTAMP},
      </if>
      <if test="rentTimeRanges != null">
        #{rentTimeRanges,jdbcType=INTEGER},
      </if>
      <if test="rentSelValReq != null">
        #{rentSelValReq,jdbcType=VARCHAR},
      </if>
      <if test="rentSelRules != null">
        #{rentSelRules,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.computerdesign.whutHouseMgmt.bean.rentparam.RentEventExample" resultType="java.lang.Long">
    select count(*) from pm_rentevent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pm_rentevent
    <set>
      <if test="record.rentEventId != null">
        RentEventId = #{record.rentEventId,jdbcType=INTEGER},
      </if>
      <if test="record.paramTypeId != null">
        ParamTypeId = #{record.paramTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.paramTypeName != null">
        ParamTypeName = #{record.paramTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.rentIsOpenSel != null">
        RentIsOpenSel = #{record.rentIsOpenSel,jdbcType=BIT},
      </if>
      <if test="record.rentTimeBegin != null">
        RentTimeBegin = #{record.rentTimeBegin,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rentTimeRanges != null">
        RentTimeRanges = #{record.rentTimeRanges,jdbcType=INTEGER},
      </if>
      <if test="record.rentSelValReq != null">
        RentSelValReq = #{record.rentSelValReq,jdbcType=VARCHAR},
      </if>
      <if test="record.rentSelRules != null">
        RentSelRules = #{record.rentSelRules,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null">
        IsDelete = #{record.isDelete,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pm_rentevent
    set RentEventId = #{record.rentEventId,jdbcType=INTEGER},
      ParamTypeId = #{record.paramTypeId,jdbcType=INTEGER},
      ParamTypeName = #{record.paramTypeName,jdbcType=VARCHAR},
      RentIsOpenSel = #{record.rentIsOpenSel,jdbcType=BIT},
      RentTimeBegin = #{record.rentTimeBegin,jdbcType=TIMESTAMP},
      RentTimeRanges = #{record.rentTimeRanges,jdbcType=INTEGER},
      RentSelValReq = #{record.rentSelValReq,jdbcType=VARCHAR},
      RentSelRules = #{record.rentSelRules,jdbcType=VARCHAR},
      IsDelete = #{record.isDelete,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.computerdesign.whutHouseMgmt.bean.rentparam.RentEvent">
    update pm_rentevent
    <set>
      <if test="paramTypeId != null">
        ParamTypeId = #{paramTypeId,jdbcType=INTEGER},
      </if>
      <if test="paramTypeName != null">
        ParamTypeName = #{paramTypeName,jdbcType=VARCHAR},
      </if>
      <if test="rentIsOpenSel != null">
        RentIsOpenSel = #{rentIsOpenSel,jdbcType=BIT},
      </if>
      <if test="rentTimeBegin != null">
        RentTimeBegin = #{rentTimeBegin,jdbcType=TIMESTAMP},
      </if>
      <if test="rentTimeRanges != null">
        RentTimeRanges = #{rentTimeRanges,jdbcType=INTEGER},
      </if>
      <if test="rentSelValReq != null">
        RentSelValReq = #{rentSelValReq,jdbcType=VARCHAR},
      </if>
      <if test="rentSelRules != null">
        RentSelRules = #{rentSelRules,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        IsDelete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where RentEventId = #{rentEventId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.computerdesign.whutHouseMgmt.bean.rentparam.RentEvent">
    update pm_rentevent
    set ParamTypeId = #{paramTypeId,jdbcType=INTEGER},
      ParamTypeName = #{paramTypeName,jdbcType=VARCHAR},
      RentIsOpenSel = #{rentIsOpenSel,jdbcType=BIT},
      RentTimeBegin = #{rentTimeBegin,jdbcType=TIMESTAMP},
      RentTimeRanges = #{rentTimeRanges,jdbcType=INTEGER},
      RentSelValReq = #{rentSelValReq,jdbcType=VARCHAR},
      RentSelRules = #{rentSelRules,jdbcType=VARCHAR},
      IsDelete = #{isDelete,jdbcType=BIT}
    where RentEventId = #{rentEventId,jdbcType=INTEGER}
  </update>
</mapper>