<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.computerdesign.whutHouseMgmt.dao.region.RegionMapper">
  <resultMap id="BaseResultMap" type="com.computerdesign.whutHouseMgmt.bean.region.Region">
    <id column="RegionId" jdbcType="INTEGER" property="regionId" />
    <result column="RegionName" jdbcType="VARCHAR" property="regionName" />
    <result column="RegionDescription" jdbcType="VARCHAR" property="regionDescription" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RegionId, RegionName, RegionDescription
  </sql>
  <select id="selectByExample" parameterType="com.computerdesign.whutHouseMgmt.bean.region.RegionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Hs_Region
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Hs_Region
    where RegionId = #{regionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Hs_Region
    where RegionId = #{regionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.computerdesign.whutHouseMgmt.bean.region.RegionExample">
    delete from Hs_Region
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.computerdesign.whutHouseMgmt.bean.region.Region">
    insert into Hs_Region (RegionId, RegionName, RegionDescription
      )
    values (#{regionId,jdbcType=INTEGER}, #{regionName,jdbcType=VARCHAR}, #{regionDescription,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.computerdesign.whutHouseMgmt.bean.region.Region">
    insert into Hs_Region
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="regionId != null">
        RegionId,
      </if>
      <if test="regionName != null">
        RegionName,
      </if>
      <if test="regionDescription != null">
        RegionDescription,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="regionId != null">
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="regionName != null">
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="regionDescription != null">
        #{regionDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.computerdesign.whutHouseMgmt.bean.region.RegionExample" resultType="java.lang.Long">
    select count(*) from Hs_Region
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update Hs_Region
    <set>
      <if test="record.regionId != null">
        RegionId = #{record.regionId,jdbcType=INTEGER},
      </if>
      <if test="record.regionName != null">
        RegionName = #{record.regionName,jdbcType=VARCHAR},
      </if>
      <if test="record.regionDescription != null">
        RegionDescription = #{record.regionDescription,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update Hs_Region
    set RegionId = #{record.regionId,jdbcType=INTEGER},
      RegionName = #{record.regionName,jdbcType=VARCHAR},
      RegionDescription = #{record.regionDescription,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.computerdesign.whutHouseMgmt.bean.region.Region">
    update Hs_Region
    <set>
      <if test="regionName != null">
        RegionName = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="regionDescription != null">
        RegionDescription = #{regionDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where RegionId = #{regionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.computerdesign.whutHouseMgmt.bean.region.Region">
    update Hs_Region
    set RegionName = #{regionName,jdbcType=VARCHAR},
      RegionDescription = #{regionDescription,jdbcType=VARCHAR}
    where RegionId = #{regionId,jdbcType=INTEGER}
  </update>
</mapper>