<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.computerdesign.whutHouseMgmt.dao.housesub.StaffMonetarySubMapper">
  <resultMap id="BaseResultMap" type="com.computerdesign.whutHouseMgmt.bean.housesub.StaffMonetarySub">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="StaffNo" jdbcType="VARCHAR" property="staffNo" />
    <result column="Year" jdbcType="VARCHAR" property="year" />
    <result column="AnnualSal" jdbcType="BIGINT" property="annualSal" />
    <result column="Subsidies" jdbcType="DECIMAL" property="subsidies" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, StaffNo, Year, AnnualSal, Subsidies, Remark, CreateTime
  </sql>
  <select id="selectByExample" parameterType="com.computerdesign.whutHouseMgmt.bean.housesub.StaffMonetarySubExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hs_monetarysub
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hs_monetarysub
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hs_monetarysub
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.computerdesign.whutHouseMgmt.bean.housesub.StaffMonetarySubExample">
    delete from hs_monetarysub
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.computerdesign.whutHouseMgmt.bean.housesub.StaffMonetarySub">
    insert into hs_monetarysub (Id, StaffNo, Year, 
      AnnualSal, Subsidies, Remark, 
      CreateTime)
    values (#{id,jdbcType=INTEGER}, #{staffNo,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, 
      #{annualSal,jdbcType=BIGINT}, #{subsidies,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.computerdesign.whutHouseMgmt.bean.housesub.StaffMonetarySub">
    insert into hs_monetarysub
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="staffNo != null">
        StaffNo,
      </if>
      <if test="year != null">
        Year,
      </if>
      <if test="annualSal != null">
        AnnualSal,
      </if>
      <if test="subsidies != null">
        Subsidies,
      </if>
      <if test="remark != null">
        Remark,
      </if>
      <if test="createTime != null">
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="staffNo != null">
        #{staffNo,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="annualSal != null">
        #{annualSal,jdbcType=BIGINT},
      </if>
      <if test="subsidies != null">
        #{subsidies,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.computerdesign.whutHouseMgmt.bean.housesub.StaffMonetarySubExample" resultType="java.lang.Long">
    select count(*) from hs_monetarysub
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hs_monetarysub
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.staffNo != null">
        StaffNo = #{record.staffNo,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null">
        Year = #{record.year,jdbcType=VARCHAR},
      </if>
      <if test="record.annualSal != null">
        AnnualSal = #{record.annualSal,jdbcType=BIGINT},
      </if>
      <if test="record.subsidies != null">
        Subsidies = #{record.subsidies,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null">
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CreateTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hs_monetarysub
    set Id = #{record.id,jdbcType=INTEGER},
      StaffNo = #{record.staffNo,jdbcType=VARCHAR},
      Year = #{record.year,jdbcType=VARCHAR},
      AnnualSal = #{record.annualSal,jdbcType=BIGINT},
      Subsidies = #{record.subsidies,jdbcType=DECIMAL},
      Remark = #{record.remark,jdbcType=VARCHAR},
      CreateTime = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.computerdesign.whutHouseMgmt.bean.housesub.StaffMonetarySub">
    update hs_monetarysub
    <set>
      <if test="staffNo != null">
        StaffNo = #{staffNo,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        Year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="annualSal != null">
        AnnualSal = #{annualSal,jdbcType=BIGINT},
      </if>
      <if test="subsidies != null">
        Subsidies = #{subsidies,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.computerdesign.whutHouseMgmt.bean.housesub.StaffMonetarySub">
    update hs_monetarysub
    set StaffNo = #{staffNo,jdbcType=VARCHAR},
      Year = #{year,jdbcType=VARCHAR},
      AnnualSal = #{annualSal,jdbcType=BIGINT},
      Subsidies = #{subsidies,jdbcType=DECIMAL},
      Remark = #{remark,jdbcType=VARCHAR},
      CreateTime = #{createTime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>